.storyArea{
    display: flex;
    align-items: center;
    margin: 10px 10px;
    max-width: 1180px;
    height: 130px;
    max-height: 200px;
    overflow: hidden;
    margin: 0 auto;
}

.storyBorder{
    border: 3.5px solid rgb(100, 188, 214);
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.storyBorder:not(:last-child){
    margin-right: 5px;
}
.storyImage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px 1px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.storyIcon p{
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}
.storyFullArea{
    display: none;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
}
.storyFullAreaShow{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    z-index: 5;
    display: block;
    transition: .3s ease-in;
}
.bodyScrollRemove{
    overflow-y: hidden;
}
.storyFull{
    margin: 0 auto;
    height: 75%;
}

.exitIcon{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: flex-end;
    padding: 10px;
}
.exitButton:first-child{
    color: white;
}

.storyImageFull{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}